@font-face {
    font-family: "KellySlab";
    src: url("/_Sources/KellySlab.ttf");
}
@font-face {
    font-family: "Sura_R";
    src: url("/_Sources/Sura_regular.ttf");
}
@font-face {
    font-family: "Sura_B";
    src: url("/_Sources/Sura_bold.ttf");
}
@font-face {
    font-family: "Soledago";
    src: url("/_Sources/Soledago.ttf");
}
body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #D9CEBA;
}
.logo{
    width: auto;
    margin: auto;
}
.logo_img{
    margin-top: 10px;
    margin-left: 100px;
}
.nav{
    margin: auto;
    width: 75%;
    font-family: "KellySlab";
    font-size: 20px;
}
.nav-menu{
    list-style: none;
    justify-content: space-around;
    display: flex;
}
.nav-menu_item{
    display: flex;
}
.link{
    text-decoration-line: none;
    color: black;
}
.link:hover{
    text-decoration-line: underline;
}


.main-txt{
    margin: 100px;
}
.main-block{
    display: flex;
}
.main-block-sections{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.vinyls{
    display: flex;
    overflow-x: auto;
}
.main-block-sections_new{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.main-block-sections_soon{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.vinyl_info{
    width: 400px;
}
.vinyl-card{
    width: 500px;
    word-break: normal;
}
.vinyl_artist{
    font-family: "Sura_R";
    font-size: 20px;
    margin: 0;
}
.vinyl_name{
    font-family: "Sura_B";
    font-size: 25px;
    text-decoration-line: none;
    color: black;
    margin: 0;
}
.vinyl_edit{
    font-family: "Sura_R";
    font-size: 15px;
    margin: 0;
}
.vinyl_price{
    font-family: "Sura_B";
    font-size: 38px;
    color: #5A5A5A;
    margin: 10px;
}
.vinyl_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vinyl_incart_form{
    margin: auto;
    margin-right: 0;
    display: inline-block;
}
.btn_incart{
    font-family: "Soledago";
    font-size: 30px;
    border: none;
    background: none;
    color: #F28705;
}
.about{
    font-family: "KellySlab";
    font-size: 30px;
    margin: 100px;
}